@model ProjeYonetimSistemi.UI.MVC.Dto.Task.UpdateTaskDto

@{
    ViewBag.Title = "Edit Task";
}

<div class="content-wrapper" style="min-height: 1604.44px;">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Görev Düzenle</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")">Ana Sayfa</a></li>
                        <li class="breadcrumb-item active">Görev Düzenle</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>

    <section class="content">
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">Görev Bilgileri</h3>
            </div>

            @using (Html.BeginForm("Edit", "Task", FormMethod.Post))
            {
                @Html.AntiForgeryToken()

                <div class="card-body">
                    <div class="form-group">
                        <label for="TaskName">Görev Adı</label>
                        @Html.EditorFor(model => model.TaskName, new { htmlAttributes = new { @class = "form-control", @id = "TaskName" } })
                        @Html.ValidationMessageFor(model => model.TaskName, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        <label for="Description">Açıklama</label>
                        @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control", @id = "Description" } })
                        @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        <label for="ProjectId">Proje Adı</label>
                        @Html.DropDownListFor(model => model.ProjectId, (IEnumerable<SelectListItem>)ViewBag.Projects, "Proje Seçin", new { @class = "form-control", @id = "ProjectId" })
                        @Html.ValidationMessageFor(model => model.ProjectId, "", new { @class = "text-danger" })
                    </div>

            @*         <div class="form-group">
                        <label for="TeamMembers">Takım Üyeleri</label>
                        @Html.ListBoxFor(model => model.TeamMembers, (IEnumerable<SelectListItem>)ViewBag.TeamMembers, new { @class = "form-control", @id = "TeamMembers" })
                        @Html.ValidationMessageFor(model => model.TeamMembers, "", new { @class = "text-danger" })
                    </div> *@

                    <div class="form-group">
                        <label for="Progress">İlerleme</label>
                        @Html.EditorFor(model => model.Progress, new { htmlAttributes = new { @class = "form-control", @id = "Progress" } })
                        @Html.ValidationMessageFor(model => model.Progress, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        <label for="Status">Durum</label>
                        @Html.DropDownListFor(model => model.Status, new SelectList(new List<SelectListItem>
                    {
                    new SelectListItem { Text = "Başlanmadı", Value = "Başlanmadı" },
                    new SelectListItem { Text = "Devam Ediyor", Value = "Devam Ediyor" },
                    new SelectListItem { Text = "Bitirildi", Value = "Bitirildi" }
                    }, "Value", "Text"), "Durum Seçin", new { @class = "form-control", @id = "Status" })
                        @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
                    </div>

                   
 
          
                </div>

                <div class="card-footer">
                    <button type="submit" class="btn btn-primary">Kaydet</button>
                    <a href="@Url.Action("Index", "Task")" class="btn btn-secondary">İptal</a>
                </div>
            }
        </div>
    </section>
</div>