@model IEnumerable<ProjeYonetimSistemi.UI.MVC.Entity.TeamEntity>

<div class="content-wrapper" style="min-height: 1604.44px;">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Takımlar ve Üyeler</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Anasayfa</a></li>
                        <li class="breadcrumb-item active">Takımlar</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>

    <section class="content">
        <div class="card">
            <div class="card-header">
                <a class="btn btn-primary float-left" href="@Url.Action("Create", "Team")" style="margin-left: 2px;">
                    <i class="fas fa-plus"></i> Yeni Takım Oluştur
                </a>
                <a class="btn btn-success float-left" href="@Url.Action("AddMember", "Team")" style="margin-left: 10px;">
                    <i class="fas fa-user-plus"></i> Takım Üyesi Ekle
                </a>
                <h3 class="card-title"></h3>
                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
                        <i class="fas fa-times"></i>
                    </button>
                </div>
            </div>
            <div class="card-body p-0">
                <table class="table table-striped projects">
                    <thead>
                        <tr>
                            <th style="width: 1%">#</th>
                            <th style="width: 20%">Takım İsmi</th>
                            <th style="width: 50%">Üyeler</th>
                            <th style="width: 20%"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            int i = 0;
                        }
                        @if (Model != null)
                        {
                            foreach (var team in Model)
                            {
                                i = i + 1;
                                <tr>
                                    <td>@i</td>
                                    <td>@team.TeamName</td>
                                    <td>
                                        <ul class="list-inline">
                                            @foreach (var member in team.TeamMembers)
                                            {
                                                <li class="list-inline-item">
                                                    @member.Name @member.SurName
                                                </li>
                                            }
                                        </ul>
                                    </td>
                                    <td class="project-actions text-right">
                                        <a class="btn btn-info btn-sm" href="@Url.Action("Details", new { id = team.TeamId })">
                                            <i class="fas fa-eye"></i> Detay
                                        </a>
                                        <a class="btn btn-primary btn-sm" href="@Url.Action("Edit", new { id = team.TeamId })">
                                            <i class="fas fa-pencil-alt"></i> Düzenle
                                        </a>
                                        <a class="btn btn-danger btn-sm" href="@Url.Action("Delete", new { id = team.TeamId })">
                                            <i class="fas fa-trash"></i> Sil
                                        </a>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </section>
</div>
